.css-9dn8du{
    /* background-color:  #282828 !important; */
    background-image: url(../storage/cerber.jpg) !important;
    width: 23% !important;
    height: 58%;
    transform: translate(-35vw, 130vh);
    /* position: fixed; */

}