.css-1pclhgl-MuiTable-root {
  background-color: #342f2f !important;
  border-bottom: black !important;
}
.css-263z0b-MuiTableCell-root {
  color: white !important;
}
.css-1nslmh4-MuiTableCell-root.MuiTableCell-head {
  background-color: #342f2f !important;
}
.css-1nslmh4-MuiTableCell-root {
  border-bottom: black !important;
}
.css-15t5ok2-MuiTableCell-root {
  color: white !important;
}
.css-1bhpkcd-MuiTableCell-root {
  border-bottom: 1px solid rgb(161, 11, 11) !important;
}
.css-263z0b-MuiTableCell-root {
  border-bottom: 1px solid rgb(161, 11, 11) !important;
}
.css-15t5ok2-MuiTableCell-root {
  border-bottom: 1px solid rgb(161, 11, 11) !important;
}
.css-132a6sb-MuiTableCell-root {
  border-bottom: 1px solid rgb(161, 11, 11) !important;
}
