.css-10soufq-MuiPaper-root-MuiCard-root {
    background-image: url(../storage/narko2.jpg);
}
.css-1t6e9jv-MuiCardActions-root{
    background-color: white;
}

@media all and (max-width: 700px) {
    .cardproduct {
        width: 70%;
    }
}